<div class="column1">
  <h1 id="h1">
    <a href="#">Examiq</a>
  </h1>
  <p class="coppy p">Copyright &copy; Examiq 2026</p>
</div>
<div class="column2">
  <h2 id="h2">Kontakta oss:</h2>
  <p class="p">Exempelvägen 12</p>
  <p class="p">123 46 Göteborg</p>
  <p class="p">0701 23 45 67</p>
</div>
<div class="column3">
  <a herf="https://www.facebook.com/?locale=sv_SE">
    <img
      src="./img/facebok.png"
      alt="Länk till vår facebook"
      class="facebook"
    />
  </a>
  <a herf="https://www.instagram.com/accounts/emailsignup/">
    <img
      src="./img/insta.png"
      alt="Länk till vår instagram"
      class="instagram"
    />
  </a>
</div>
