<div class="backdrop"></div>
<h1 id="h1-header"><a href="index.html">Examiq</a></h1>
<div class="hamburger-menu">
  <button class="hamburger-button">
    <div class="bar bar1"></div>
    <div class="bar bar2"></div>
    <div class="bar bar3"></div>
  </button>
</div>
<div class="nav-menu">
  <ul class="list-option loggedout-menu">
    <a href="aboutExamiq.html"><li>Om Examiq</li></a>
    <a href="login.html"><li>Logga in</li></a>
  </ul>
  <ul class="list-option loggedin-menu">
    <a href="aboutExamiq.html"><li>Om Examiq</li></a>
    <a href="sharedCollections.html"><li>Samlingar</li></a>
    <a href="/statistik"><li>Statistik</li></a>
    <a href="profile.html"><li>Profil</li></a>
    <a href="login.html" id="logout"><li>Logga ut</li></a>
  </ul>
</div>
