:root {
  --primary: #0f2c47;
  --secondary: #347ec2;
  --background: #f8f8f8;
  --textLight: #f8f8f8;
  --textDark: #0d2944;
  --radius: 8px;
}

.checkbox {
  align-self: flex-start;
}

.icon-div {
  display: flex;
  gap: 10px;
  margin-left: 20px;
}

.h3 {
  margin: 0;
}

.delete-icon {
  display: none;
  width: 24px;
  margin-left: 10px;
  height: auto;
}

.unicode {
  position: relative;
  bottom: 2px;
  padding: 5px;
  cursor: pointer;
}

.flashcards-div {
  display: none;
}

.add-icon {
  width: 24px;
  height: auto;
  margin-left: 20px;
}

a.add-flashcard {
  text-decoration: none;
  color: var(--textDark);
}

.h3 {
  font-size: 1.05rem;
}

.label {
  font-size: 0.9rem;
}

.save-flashcard-btn {
  margin-right: 10px;
}

.add-icon-div {
  display: none;
}

.button.save-flashcard-btn,
.button.delete-flashcard-btn {
  height: 30px;
  font-size: 0.8rem;
  margin: 0 10px 0 0;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
