:root {
  --primary: #0f2c47;
  --secondary: #347ec2;
  --background: #f8f8f8;
  --textLight: #f8f8f8;
  --textDark: #0d2944;
  --radius: 8px;
}

footer {
  color: var(--primary);
  display: flex;
}

.footerFlex {
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
  align-items: center;
}

.column1 {
  order: 3;
  margin-bottom: 30px;
}

.column2 {
  order: 1;
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.column3 {
  display: flex;
  flex-direction: row;
  order: 2;
  gap: 20px;
  margin: 30px 0;
}

img {
  color: var(--textLight);
  background-color: var(--primary);
  width: 50px;
}

#h1 {
  color: var(--textLight);
  font-weight: 700;
  margin: 10px auto;
  text-align: center;
}

#h1 a {
  color: var(--textLight);
  text-decoration: none;
}

#h2 {
  color: var(--textLight);
  font-weight: 500;
  margin: 0;
}

.p {
  font-weight: 400;
  color: var(--textLight);
}

@media (min-width: 800px) {
  .footerFlex {
    flex-direction: row;
    width: 100vw;
    gap: 68px;
    justify-content: center;
    align-items: center;
    height: 200px;
  }

  .column1 {
    order: 1;
  }

  .column2 {
    order: 2;
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-top: 0px;
  }

  .column3 {
    order: 3;
    text-align: left;
    flex-direction: column;
  }

  img {
    width: 45px;
    height: 45px;
    gap: 20px;
  }

  #h1 {
    font-size: 2.5rem;
    text-align: left;
  }

  #h2 {
    font-size: 1.25rem;
    text-align: left;
  }

  .p {
    font-size: 1rem;
  }
}
