@font-face {
  font-family: 'Poppins';
  src: url(../fonts/poppins.bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url(../fonts/poppins.semibold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url(../fonts/poppins.italic.ttf) format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Poppins';
  src: url(../fonts/poppins.regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url(../fonts/poppins.light.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #0f2c47;
  --secondary: #347ec2;
  --background: #f8f8f8;
  --textLight: #f8f8f8;
  --textDark: #0d2944;
  --radius: 8px;
}

html {
  font-size: 1rem;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', 'Montserrat', sans-serif;
  background-color: var(--background);
  line-height: 1.5;
  letter-spacing: 0.3px;
}

main {
  flex: 1;
  width: 300px;
  min-height: 600px;
  margin: 0 auto 30px;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  margin: 30px auto;
  color: var(--textDark);
}

p {
  color: var(--textDark);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  width: 100%;
  margin: 30px auto;
  padding: 1rem;
  border: 1px solid rgb(34, 34, 34, 0.5);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: var(--radius);
}

img {
  max-width: 100%;
  display: block;
}

button {
  padding: 16px;
  margin: 10px 0;
  width: 100%;
  color: var(--textLight);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  border: 1px solid rgb(34, 34, 34, 0.5);
  border-radius: var(--radius);
  background-color: var(--primary);
  font-family: 'Poppins', 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  transform: scale(1.02);
  transition: all 0.2s ease;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: 600;
}

input {
  font-family: 'Poppins', 'Montserrat', sans-serif;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  font-size: 0.8rem;
  font-weight: 100;
  letter-spacing: 0.5px;
}

input:focus {
  outline: 1px solid #222;
  color: #222;
  border-radius: 8px;
}

@media screen and (min-width: 600px) {
  .container {
    max-width: 600px;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1.5;
  }
  main {
    width: 400px;
    margin: 50px auto 90px;
  }
}

@media screen and (min-width: 860px) {
  h1,
  h2,
  h3,
  h4 {
    line-height: 1.8;
  }
}
