:root {
  --primary: #0f2c47;
  --secondary: #347ec2;
  /* --background: #ddd4c6; */
  --background: #f8f8f8;
  --textLight: #f8f8f8;
  --textDark: #0d2944;
  --radius: 8px;
}

.test-login {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0px;
  left: 0px;
  z-index: 100;
  font-size: 10px;
  padding: 0;
  border: solid 1px var(--primary);
  margin: 0;
}

.test-login.active {
  background-color: green;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  /* quota ut "position: relative;" nedan om du vill ha att headern inte skall sitta kvar på toppen */
  /* position: relative; */
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
  height: 80px;
}

#h1-header {
  color: var(--textLight);
  margin-left: 30px;
  font-size: 2rem;
}

.hamburger-menu {
  margin-right: 30px;
}

.hamburger-button {
  box-shadow: none;
  background-color: transparent;
  border: none;
}

.nav-menu {
  display: none;
  position: absolute;
  top: 80px;
  right: 0px;
  opacity: 0;
  transition:
    max-height 0.3s ease,
    opacity 0.3s ease;
}

.nav-menu.active {
  display: block;
  opacity: 1;
  max-height: 400px;
}

.list-option {
  z-index: 20;
  position: relative;
  display: block;
  max-height: 300px;
  width: 150px;
  list-style-type: none;
  background-color: var(--primary);
  padding: 5px;
  margin: 0;

  font-size: larger;
}

.list-option li {
  padding: 10px;
  color: var(--textLight);
  border: none;
}

.list-option a {
  width: fit-content;
  white-space: nowrap;
  text-decoration: none;
}

.bar1,
.bar2,
.bar3 {
  display: block;
  width: 38px;
  height: 0.25rem;
  background-color: var(--background);
  margin-top: 8px;
  border-radius: calc(infinity * 1px);
  transition:
    transform 0.5s ease,
    opacity 0.5s ease,
    width 0.5s ease;
}
.bar3 {
  margin-bottom: 6px;
}

.bar1.rotate1 {
  transform: rotate(45deg) translate(7px, 10px);
}
.bar2.fade {
  width: 0;
}
.bar3.rotate2 {
  transform: rotate(-45deg) translate(7px, -10px);
}

.backdrop {
  position: fixed;
  inset: 0;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}

.backdrop.active {
  opacity: 1;
  visibility: visible;
}

.loggedin-menu {
  display: none;
}

.loggedout-menu {
  display: block;
}

.loggedin-menu.loggedIn {
  display: block;
}

.loggedout-menu.loggedIn {
  display: none;
}

@media (min-width: 1024px) {
  #h1-header {
    margin-left: 50px;
  }
  .hamburger-menu {
    display: none;
  }
  .nav-menu {
    display: block;
    position: static;
    opacity: 1;
  }
  .list-option {
    display: flex;
    flex-direction: row;
    gap: 31px;
    width: fit-content;
    position: static;
    max-height: none;
    border: none;
    opacity: 1;
    background-color: transparent;
    margin-right: 50px;
    font-weight: 600;
    font-size: larger;
  }
  .list-option li,
  .list-option a {
    border-bottom: none;
    padding: 0;
  }
  .list-option.active {
    opacity: 1;
    max-height: none;
  }

  .loggedin-menu {
    display: none;
  }
  .loggedout-menu {
    display: flex;
  }

  .loggedin-menu.loggedIn {
    display: flex;
  }
  .loggedout-menu.loggedIn {
    display: none;
  }
}
