:root {
  --primary: #0f2c47;
  --secondary: #347ec2;
  --background: #f8f8f8;
  --textLight: #f8f8f8;
  --textDark: #0d2944;
  --warn: rgb(182, 25, 25);
  --info: rgb(0, 54, 0);
  --radius: 8px;
}

#resultCelebration {
  display: flex;
  align-items: center;
  padding: 20px;
  height: 520px;
}

#resultCelebration img {
  width: 100%;
  height: auto;
}

#resultCelebration div {
  display: flex;
  justify-content: center;
  font-size: x-large;
  font-weight: 600;
  width: 100%;
  height: auto;
}

.answer.correct {
  border-radius: var(--radius);
  padding: 4px 4px 4px 10px;
  background-color: rgba(0, 128, 0, 0.5);
}

.answer.wrong {
  border-radius: var(--radius);
  padding: 4px 4px 4px 10px;
  background-color: rgba(255, 0, 0, 0.5);
}

.revealAnswerButton {
  opacity: 100%;
  transition: opacity 1s ease;
}

.revealAnswerButton.hidden {
  display: none;
  opacity: 0;
}

.correctElement.hidden {
  display: none;
}

.correctAnswerText.hidden {
  display: none;
}

.question {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid var(--primary);
  width: 100%;
}

.revealAnswerButton {
  padding: 4px;
  border-radius: var(--radius);
  margin: 6px 0px;
  font-size: large;
}

.correctAnswerText {
  padding: 4px;
  border-radius: var(--radius);
  margin: 6px 0px;
}
